<%= form_for(fullfillment) do |f| %>
  <% if fullfillment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(fullfillment.errors.count, "error") %> prohibited this fullfillment from being saved:</h2>

      <ul>
      <% fullfillment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :employee_id %>
    <%= f.text_field :employee_id %>
  </div>

  <div class="field">
    <%= f.label :bed_id %>
    <%= f.text_field :bed_id %>
  </div>

  <div class="field">
    <%= f.label :month_id %>
    <%= f.text_field :month_id %>
  </div>

  <div class="field">
    <%= f.label :day %>
    <%= f.number_field :day %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
