<p id="notice"><%= notice %></p>

<h1>Fullfillments</h1>

<table>
  <thead>
    <tr>
      <th>Employee</th>
      <th>Bed</th>
      <th>Month</th>
      <th>Day</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @fullfillments.each do |fullfillment| %>
      <tr>
        <td><%= fullfillment.employee %></td>
        <td><%= fullfillment.bed %></td>
        <td><%= fullfillment.month %></td>
        <td><%= fullfillment.day %></td>
        <td><%= link_to 'Show', fullfillment %></td>
        <td><%= link_to 'Edit', edit_fullfillment_path(fullfillment) %></td>
        <td><%= link_to 'Destroy', fullfillment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Fullfillment', new_fullfillment_path %>
