<p id="notice"><%= notice %></p>

<p>
  <strong>Employee:</strong>
  <%= @fullfillment.employee %>
</p>

<p>
  <strong>Bed:</strong>
  <%= @fullfillment.bed %>
</p>

<p>
  <strong>Date:</strong>
  <%= @fullfillment.date %>
</p>

<%= link_to 'Edit', edit_fullfillment_path(@fullfillment) %> |
<%= link_to 'Back', fullfillments_path %>
