<%= form_for(fumonth_duty) do |f| %>
  <% if fumonth_duty.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(fumonth_duty.errors.count, "error") %> prohibited this fumonth_duty from being saved:</h2>

      <ul>
      <% fumonth_duty.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :employee_id %>
    <%= f.text_field :employee_id %>
  </div>

  <div class="field">
    <%= f.label :count %>
    <%= f.number_field :count %>
  </div>

  <div class="field">
    <%= f.label :date %>
    <%= f.date_select :date %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
