<p id="notice"><%= notice %></p>

<h1>Fumonth Duties</h1>

<table>
  <thead>
    <tr>
      <th>Employee</th>
      <th>Count</th>
      <th>Date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @fumonth_duties.each do |fumonth_duty| %>
      <tr>
        <td><%= fumonth_duty.employee %></td>
        <td><%= fumonth_duty.count %></td>
        <td><%= fumonth_duty.date %></td>
        <td><%= link_to 'Show', fumonth_duty %></td>
        <td><%= link_to 'Edit', edit_fumonth_duty_path(fumonth_duty) %></td>
        <td><%= link_to 'Destroy', fumonth_duty, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Fumonth Duty', new_fumonth_duty_path %>
